---
// Supports weights 200-700
import "@fontsource-variable/oswald";
// Supports weights 400-700
import "@fontsource-variable/kode-mono";
import "../styles/form.css";

import SEO from "../components/SEO.astro";

interface Props {
  title: string;
  description: string;
  keywords: string;
  canonical: string;
  robots: string;
  img: string;
}

const { title, description, keywords, canonical, robots, img } = Astro.props;
---

<!doctype html>
<html lang="es" class="lenis lenis-smooth scroll-pt-[89px]">
  <head>
    <SEO
      title={title}
      description={description}
      keywords={keywords}
      canonical={canonical}
      robots={robots}
      img={img}
    />
  </head>
  <body
    class="bg-[url('/background.webp')] bg-no-repeat bg-center bg-cover bg-cyan-950 font-mono text-base text-green-50"
  >
    <div
      id="loader"
      class="w-screen h-dvh bg-cyan-950 fixed top-0 left-0 pointer-events-none z-30"
    >
    </div>
    <slot />
    <script src="../scripts/main.js"></script>
    <style is:global>
      /** Lenis */
      html.lenis,
      html.lenis body {
        height: auto;
      }

      .lenis.lenis-smooth {
        scroll-behavior: auto !important;
      }

      .lenis.lenis-smooth [data-lenis-prevent] {
        overscroll-behavior: contain;
      }

      .lenis.lenis-stopped {
        overflow: hidden;
      }

      .lenis.lenis-scrolling iframe {
        pointer-events: none;
      }

      /** Scrollbar */
      ::-webkit-scrollbar {
        @apply w-2;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        @apply bg-transparent;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        @apply bg-cyan-400;
      }

      *,
      *::before,
      *::after {
        @apply focus-visible:outline-green-50;
      }

      /** Reset */
      body {
        background-attachment: fixed;
      }

      svg {
        @apply max-w-full h-auto;
      }

      /** Animations */
      #loader {
        animation: fadeOut 1000ms ease-in-out forwards 1000ms;
      }

      .interface {
        opacity: 0;
        animation: fadeIn 1000ms ease-in-out forwards 1000ms;
      }

      @keyframes fadeIn {
        100% {
          opacity: 1;
        }
      }

      @keyframes fadeOut {
        100% {
          opacity: 0;
        }
      }

      @keyframes fadeInY {
        100% {
          opacity: 1;
          transform: translatey(0);
        }
      }

      @keyframes slideRight {
        100% {
          transform: translateX(0);
        }
      }

      /** Glass box */
      .glass h2,
      .glass h3,
      .glass p,
      .glass ul {
        @apply mb-4;
      }

      .glass li:before {
        content: "> ";
      }
    </style>
  </body>
</html>
